* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    display: grid;
    grid-template-rows: 50px 1fr;
  
    height: 100vh;
  }
  .main-content h2 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 400;
  }

  .logo img{
      width: auto;
      height: 40px;
  }
  .search-box img{
      height: 100%;
      width: 100%;
      /* display: inline-block; */
     /* padding-top: 10px;
     padding-left: 10px; */
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;

     background-color: #f6f7f8;
  }
  .header{
      display: grid;
      grid-template-columns: 150px 1fr 350px ;
      
  }
  div.search-box{
      display: grid;
      grid-template-columns: 40px auto;
      margin-left: 100px;
      align-content: center;
      /* margin-right: 200px; */
      
     
  }
  div.logo{
      text-align: center;
      display: grid;
      
  }
  
  input[type=search]{
      /* display: inline-block; */
      width: auto;
      margin-right: 120px;
      height: 40px;
      border: none;
      border-radius: 20px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      background-color: #f6f7f8;
  }
  .account{
      /* padding-left: 180px; */
      display: grid;
      grid-gap: 0px;
      grid-template-columns: 150px 150px minmax(60px,1fr);
      align-items: center;
      
  }
  button.s1{
      width: 120px;
      height: 35px;
      /* margin-left: 80px; */
      border-radius: 20px;
      background-color: white;
      color: #4ca1e0;
      border: 3px solid #4ca1e0;
      font-weight: bold;
      
  }
  #b3{
      /* margin-left: 50px; */
      margin-right: 30px;
      /* padding-left: 20px; */
      width: 50px;
      height: 40px;
      display: grid;
      grid-template-columns: 20px 20px;
      place-items: center;
      background-color: white;
      border: none;
  }
  #b3 img:nth-child(1){
      width: 17px;
      height: 20px;
  }
  #b3 img:nth-child(2){
    width: 11px;
    height: 10px;
}
  
  button.s1-2{
    width: 120px;
    /* margin-left: 20px; */
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #4ca1e0;
    color: white;
    font-weight: bold;
    
}
 
  
  .main {
  background-color: #dae0e6;
  overflow: scroll;

  display: grid;
  grid-template-columns: minmax(400px, 1000px);
  justify-content: center;
}

.main-content {
  display: grid;
  grid-template:
    'trending trending' auto
    'popular-posts-title popular-posts-title' auto
    'posts side-bar' 1fr /
    1fr 300px;

  grid-gap: 20px;
  padding: 20px;
}
h2.h2-1{
    font-size: 25px;
    font-weight: bold;
}


.trending {
  grid-area: trending;
  padding: 20px 0;
}

.trending-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 10px;
  
}
.trending-item h2{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.in-trend{
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 10px;
    padding-bottom: 5px;

}
.in-trend img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
    
} 
.in-trend p{
    margin-bottom: 6px;
}
.trending-item {
  /* border: solid 1px rgba(0, 0, 0, 0.226); */
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  color: white;
  
  
  background-blend-mode: overlay;
  align-content: end;
  grid-template-rows: auto auto;
  background-size: cover;
  background-repeat: no-repeat;
 opacity: 0.8;
 
  background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("https://external-preview.redd.it/bkOuH9e_8Sxhvlc7XyDWqKshzzGKIXVRet8qUx2IH50.jpg?auto=webp&s=150bb740036ceafaca537520507faaf302f18a6e");
}

h2.popular-posts-title{
    font-size: 20px;
    font-weight: bold;
}
.posts {
  grid-area: posts;

  display: grid;
  align-content: start;
  grid-gap: 10px;
}

.post {
  height: 150px;
  display: grid;
  place-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-image: url("Capture1231231232.PNG");
  background-size: cover;
}
#my-post{
    background-image: none;
    background-size: cover;
    display: grid;
    grid-template-columns: 40px 1fr;
    overflow: hidden;
}
.main-post{
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    display: grid;
    grid-template-rows: 30px auto 30px;
    grid-gap: 5px;
    overflow: hidden;
}
.meta{
    display: grid;
    align-items: center;
    grid-template-columns: 120px auto auto;
}
#my-post .votes{
    
    
    padding-bottom: 70px;
    grid-gap: 10px;
    display: grid;
    justify-content: center;
    
    justify-items: start;
}
#grey-small{
    color: #b7b9ba;
    padding-left: 10px;
}
#post-title{
    font-size: 20px;
    font-weight: bold;
}
#join{
    display: grid;
    grid-template-columns: auto auto;
}
.meta button{
    text-align: center;
    /* padding: 2px;
    padding-bottom: 5px; */
    background-color: #0079d3;
    place-items: center;
    height: 25px;
    margin-top: 5px;
    margin-right: 15px;
    border-radius: 20px;
    width: 70px;
    align-self: center;
    justify-self: center;
    vertical-align: middle;
    color: white;
}
.meta button p{
    font-weight: bold;

}
.meta button img{
    width: 20px;
    height: 20px;
}
.meta .subreddit img{
    width: 25px;
    height: 15px;
    border-radius: 20px;
}
#my-post .votes img{
    /* width: 20px; */
    height: 16px;
    background-image: none;
    padding-left: 10px;
}
.side-bar {
  grid-area: side-bar;

  display: grid;
  align-content: start;
  grid-gap: 15px;
}
.action-button{
    border: none;
    background-color: white;
    color: #8d9092;
    margin-left: 10px;
    font-weight: bold;
    font-size: 13px;
}
.action-button img{
    width: 15px;
    background-color: white;
}

.side-bar .widget {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 200px;
  background-color: white;

  display: grid;
  place-items: center;
}

.side-bar .widget.three {
  position: sticky;
  top: 15px;
}

@media screen and (max-width: 700px) {
  .main-content {
    grid-template:
      'trending' auto
      'popular-posts-title' auto
      'posts' 1fr /
      1fr;
  }

  .side-bar {
    display: none;
  }
}

  